.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Tool{
  background-color: #CE93D8;
}
.draw{
  position: fixed;
  right:9%;
  bottom: 0%;
}
.propic{
  float: left;
  width:400px;
  background-color: #D7D2D8;
  height:950px;
}
#h2style{
  width: 160px;
  margin: 0px;
  padding: 9px;
  color: rgba(255,255,255,1);
  text-align: center;
  overflow: hidden;
  box-shadow: 1px 1px 1px 0 ;
  text-shadow: 1px 1px 1px ;
}
#fb{
  padding:5px;
  border-radius:3px;
  font: normal 25px/normal Arial Black, Gadget, sans-serif;
  word-spacing: 1px;
  text-shadow: 0 0 20px rgba(255,255,255,0.5) ;
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  text-align: center;
  text-decoration: underline;
  color: black
}
.block{
    box-sizing: content-box;
    width: 94.5%;
    height: 100%;
    padding: 11px;
    overflow: hidden;
    border: none;
    font: normal 20px/1 Georgia, serif;
    color: rgba(255,255,255,1);
    text-align: left;
    text-overflow: ellipsis;
    background: rgba(169,242,225,1);
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  }
.middle{
  margin-left: 405px;
  width:890px;
  height:1110px;
  background-color:#DDDDDD;
}
